.videomp4 {
    padding-top: 3%;
    padding-left: 2%;
}

.flex-container {
    display: flex;
}
  
.flex-child {
    /* flex: 1; */
    border: 2px;
    /* max-width: 1150px; */
}

.flex-child:first-child {
    flex: .20 !important;
    margin-right: 20px;
    margin-left: 15px;
}

.table-view {
    width: 48%;
}

h1 {
    color: #333;
}

.analyzeDiv {
    padding-left: 2%;
}

.table {
    padding-left: 3%;
    padding-top: 3%;
    width: 48%;
}

.box {
    width: 180px;
    height: 30px;
    border: 1px solid #999;
    font-size: 16px;
    color: #333;
    background-color: #eee;
    border-radius: 5px;
  }

.dropdownStyle {
    padding-left: 2%;
    padding-top: 3%;
}